:root {
  --main-color: #101010;
  --accent-color: #24A9F4;
  --dark-bg-color: #101010;
  --description-color: #BEBEBE;
  --title-second-color: #ffffff;
  --fonts: "Syncopate";
}

@font-face {
  font-family: "Kyiv Type Sans";
  src: url("../fonts/KyivType2020-14-12/KyivType-VariableGX/KyivTypeSans-VarGX.ttf");
  src: url("../fonts/KyivType2020-14-12/KyivType-VariableGX/KyivTypeSans-VarGX.ttf?#iefix") format("embedded-opentype");
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--fonts);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.header::before {
  position: absolute;
  display: block;
  content: "";
  width: 1696px;
  top: 111px;
  left: 112px;
  border: 1px solid var(--main-color);
}

.container {
  width: 100%;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    max-width: 1366px;
    padding: 0 70px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding: 0 112px;
  }
}

.button {
  width: 251px;
  height: 48px;
  left: 1123px;
  top: 1718px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--title-second-color);
  background-color: var(--main-color);
  cursor: pointer;
  transition-duration: 250ms;
}

.nav-btn {
  display: flex;
  align-items: center;
  width: 48px;
  height: 48px;
  background: none;
  border: none;
  padding: 0;
}

.nav-btn:not(:last-child) {
  margin-right: 38px;
}

@media screen and (max-width: 767.98px) {
  .form-btn {
    width: 328px;
    margin: 16px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .form-btn {
    width: 208px;
    position: absolute;
    top: 0;
    left: 65%;
  }
}
@media screen and (min-width: 1024px) {
  .form-btn {
    width: 251px;
    left: 67.5%;
  }
}
@media screen and (min-width: 1366px) {
  .form-btn {
    left: 63.5%;
  }
}
@media screen and (min-width: 1920px) {
  .form-btn {
    left: 60%;
  }
}

.social__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--title-second-color);
  color: var(--main-color);
  cursor: pointer;
  transition-duration: 250ms;
}
@media screen and (min-width: 768px) {
  .social__button {
    width: 196px;
  }
}

.button:hover,
.social__button:hover,
.button:focus,
.social__button:focus {
  background-color: var(--accent-color);
  border: none;
}

.menu {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--main-color);
}

.social__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.logo {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.04;
  color: var(--main-color);
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 36px;
    line-height: 1.03;
  }
}

.web-logo {
  font-weight: 700;
  color: var(--accent-color);
}

.dark-bg__logo {
  color: var(--title-second-color);
}

.hero__title {
  width: 400px;
  height: 42px;
}

.title {
  font-size: 15px;
  line-height: 1.07;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 24px 0;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding: 28px 0 24px 0;
}

.title__list {
  font-size: 24px;
  line-height: 1.04;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .title__list {
    font-size: 32px;
    line-height: 1.03;
  }
}
@media screen and (min-width: 1366px) {
  .title__list {
    font-size: 36px;
  }
}

.form-title {
  font-size: 24px;
  line-height: 1.04;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: var(--main-color);
}
@media screen and (min-width: 768px) {
  .form-title {
    width: 83.3333333333%;
  }
}
@media screen and (min-width: 1024px) {
  .form-title {
    width: 100%;
    font-size: 32px;
    line-height: 1.03;
  }
}
@media screen and (min-width: 1366px) {
  .form-title {
    width: 90%;
    font-size: 36px;
    line-height: 1.03;
  }
}
@media screen and (min-width: 1920px) {
  .form-title {
    width: 62.5%;
  }
}

.dark-bg__title {
  font-size: 32px;
  line-height: 1.03;
  text-transform: uppercase;
  color: var(--title-second-color);
}
@media screen and (min-width: 768px) {
  .dark-bg__title {
    font-size: 24px;
    line-height: 1.04;
  }
}
@media screen and (min-width: 1024px) {
  .dark-bg__title {
    font-size: 36px;
    line-height: 1.03;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 1.06;
  text-transform: uppercase;
  color: var(--main-color);
  transition-duration: 250ms;
  border-top: 1px solid var(--main-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation:hover,
.navigation:focus {
  color: var(--accent-color);
  stroke: var(--accent-color);
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 127px;
  margin-bottom: 16px;
}

.info {
  display: inline-flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 38px;
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.06;
  color: var(--main-color);
  margin-bottom: 11px;
}

.hero {
  margin-bottom: 88px;
}

.hero__container {
  display: grid;
  gap: 32px;
  grid-template-columns: 400px auto;
}

.hero__text {
  margin-bottom: 178px;
}

.description {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.08;
  color: var(--description-color);
}

.project {
  width: 400px;
  height: 60px;
  margin-top: 18px;
  fill: transparent;
  stroke: var(--accent-color);
}

.text {
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 1;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color);
  text-transform: none;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 14px;
    line-height: 1.57;
  }
}
@media screen and (min-width: 1366px) {
  .text {
    font-size: 16px;
    line-height: 1.5;
  }
}

.news {
  margin-bottom: 70px;
}

.news__list {
  display: grid;
  gap: 24px;
  grid-template-rows: repeat(1, auto);
}
@media screen and (min-width: 768px) {
  .news__list {
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .news__list {
    gap: 32px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  padding: 11px 24px 24px 24px;
}
@media screen and (min-width: 768px) {
  .card {
    padding: 16px 24px;
  }
}

.card__heading {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .card__heading {
    font-size: 14px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 1366px) {
  .card__heading {
    font-size: 16px;
    line-height: 1.25;
  }
}

.item {
  height: 370px;
  border: 1px solid var(--main-color);
  transition-duration: 250ms;
}
@media screen and (min-width: 768px) {
  .item {
    height: 402px;
  }
}

.item:hover,
.item:focus {
  box-shadow: -8px 8px var(--accent-color);
}

.container__connection {
  margin-bottom: 120px;
  text-align: center;
  padding: 56px 0;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
@media screen and (min-width: 1024px) {
  .container__connection {
    padding: 94px 0;
  }
}
@media screen and (min-width: 1366px) {
  .container__connection {
    padding: 88px 0;
  }
}

.form {
  position: relative;
}

.input {
  width: 328px;
  height: 48px;
  left: 542px;
  top: 1718px;
  padding: 12px 0 12px 24px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 0;
  font-size: 18px;
  line-height: 1.33;
  color: var(--main-color);
}
@media screen and (min-width: 768px) {
  .input {
    width: 624px;
  }
}
@media screen and (min-width: 1024px) {
  .input {
    width: 831px;
  }
}

.dark-bg {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}
@media screen and (min-width: 768px) {
  .dark-bg {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
}
@media screen and (min-width: 1920px) {
  .footer-nav {
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(2, auto);
  }
}

.footer__contacts {
  font-size: 16px;
  line-height: 1.06;
  color: var(--title-second-color);
  margin-bottom: 11px;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-bottom: 8px;
  }
}

.contacts__list {
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .contacts__list {
    display: grid;
    gap: 42px;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
}

.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}

.social {
  margin-top: 20px;
  margin-bottom: 50px;
  display: grid;
  gap: 16px;
  grid-template-rows: repeat(3, auto);
}
@media screen and (min-width: 768px) {
  .social {
    gap: 24px;
    grid-template-columns: repeat(3, 196px);
  }
}/*# sourceMappingURL=styles.css.map */