:root {
  --main-color: #101010;
  --accent-color: #24A9F4;
  --dark-bg-color: #101010;
  --description-color: #BEBEBE;
  --title-second-color: #ffffff;
  --fonts: "Syncopate";
}

@font-face {
  font-family: "Kyiv Type Sans";
  src: url("../fonts/KyivType2020-14-12/KyivType-VariableGX/KyivTypeSans-VarGX.ttf");
  src: url("../fonts/KyivType2020-14-12/KyivType-VariableGX/KyivTypeSans-VarGX.ttf?#iefix") format("embedded-opentype");
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--fonts);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  width: 1920px;
  padding: 0 112px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: 251px;
  height: 48px;
  left: 1123px;
  top: 1718px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--title-second-color);
  background-color: var(--main-color);
  cursor: pointer;
  transition-duration: 250ms;
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 127px;
  margin-bottom: 16px;
}

.info {
  display: inline-flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 38px;
}

.header::before {
  position: absolute;
  display: block;
  content: "";
  width: 1696px;
  top: 111px;
  left: 112px;
  border: 1px solid var(--main-color);
}

.logo {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.03;
  color: var(--main-color);
  text-decoration: none;
}

.web-logo {
  font-weight: 700;
  color: var(--accent-color);
}

.nav-btn {
  display: flex;
  align-items: center;
  width: 48px;
  height: 48px;
  background: none;
  border: none;
  padding: 0;
}

.nav-btn:not(:last-child) {
  margin-right: 38px;
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.06;
  color: var(--main-color);
  margin-bottom: 11px;
}

.description {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.08;
  color: var(--description-color);
}

.hero {
  margin-bottom: 88px;
}

.hero__container {
  display: grid;
  gap: 32px;
  grid-template-columns: 400px auto;
}

.project {
  width: 400px;
  height: 60px;
  margin-top: 18px;
  fill: transparent;
  stroke: var(--accent-color);
}

.title {
  font-size: 15px;
  line-height: 1.07;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 50px 0;
}

.title::before {
  position: absolute;
  display: block;
  content: "";
  width: 400px;
  top: 288px;
  left: 112px;
  border: 1px solid var(--main-color);
}

.text {
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 1;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color);
  text-transform: none;
}

.hero__text {
  margin-bottom: 210px;
}

.hero__text::before {
  position: absolute;
  display: block;
  content: "";
  width: 400px;
  top: 380px;
  left: 112px;
  border: 1px solid var(--main-color);
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu::before {
  position: absolute;
  display: block;
  content: "";
  width: 400px;
  top: 726px;
  left: 112px;
  border: 1px solid var(--main-color);
}

.menu::after {
  position: absolute;
  display: block;
  content: "";
  width: 400px;
  top: 866px;
  left: 112px;
  border: 1px solid var(--main-color);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 1.06;
  text-transform: uppercase;
  color: var(--main-color);
  transition-duration: 250ms;
}

.navigation:not(:last-child) {
  margin-bottom: 47px;
}

.navigation:hover {
  color: var(--accent-color);
  stroke: var(--accent-color);
}

.navigation::after {
  position: absolute;
  display: block;
  content: "";
  width: 400px;
  top: 796px;
  left: 112px;
  border: 1px solid var(--main-color);
}

.news {
  margin-bottom: 78px;
}

.news__list {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);
}

.title__list {
  font-size: 36px;
  line-height: 1.03;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 24px;
}

.item {
  height: 402px;
  border: 1px solid var(--main-color);
  transition-duration: 250ms;
}

.item:hover {
  box-shadow: -8px 8px var(--accent-color);
}

.card {
  padding: 16px 24px;
}

.card__heading {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 4px;
}

.container__connection {
  margin-bottom: 122px;
  text-align: center;
  padding: 88px 0;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.form-title {
  font-size: 36px;
  line-height: 1.03;
  text-transform: uppercase;
  color: var(--main-color);
}

.connection__form-title {
  width: 66.6666666667%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.form {
  position: relative;
}

.input {
  width: 831px;
  height: 48px;
  left: 542px;
  top: 1718px;
  padding: 12px 0 12px 24px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 0;
  font-size: 18px;
  line-height: 1.33;
  color: var(--main-color);
}

.form-btn {
  position: absolute;
  top: 0;
  left: 60%;
}

.dark-bg {
  height: 336px;
  padding-top: 56px;
  background-color: var(--dark-bg-color);
}

.dark-bg__logo {
  color: var(--title-second-color);
}

.footer-nav {
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(2, auto);
  margin-top: 21px;
}

.dark-bg__form-title {
  color: var(--title-second-color);
}

.social {
  margin-top: 21px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 196px);
}

.social__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--title-second-color);
  color: var(--main-color);
  cursor: pointer;
  transition-duration: 250ms;
}

.social__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footer__contacts {
  font-size: 16px;
  line-height: 1.06;
  color: var(--title-second-color);
  margin-bottom: 8px;
}

.contacts__list {
  display: grid;
  gap: 42px;
  grid-template-columns: repeat(3, auto);
  margin-top: 19px;
}

.contacts__item {
  display: flex;
  flex-direction: column;
}

.button:hover,
.social__button:hover {
  background-color: var(--accent-color);
  border: none;
}/*# sourceMappingURL=styles.css.map */