.logo {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.05;
    color: currentColor;
    text-decoration: none;
    margin-right: 72px;

    @media screen and (min-width: 768px) {
        font-size: 36px;
        line-height: 1.03;
        margin-right: 190px;
    }

    @media screen and (min-width: 1024px) {
        margin: 0;
    }
}

.web-logo {
    font-weight: 700;
    color: var(--accent-color);
}

.dark-bg__logo {
    font-size: 24px;
    line-height: 1.04;
    color: var(--title-second-color);

    @media screen and (min-width: 768px) {
        font-size: 36px;
        line-height: 1.03;
    }
}