.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100vh;
    padding: 50px 30px 40px 30px;
    background-color: var(--title-second-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transition-property: right;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        width: calc((440px / 768px) * 100%);
        padding: 50px 40px 24px 50px;
    }

    @media screen and (min-width: 1024px) {
        padding: 50px 33px 24px 33px;
    }

    @media screen and (min-width: 1366px) {
        width: calc((487px / 1366px) * 100%);
        padding: 45px 41px 24px 41px;
    }

    @media screen and (min-width: 1920px) {
        width: calc((544px / 1920px) * 100%);
        padding: 87px 56px 32px 56px;
    }
}

.mobile-menu.is-open {
    right: 0;
}

.icon-cross {
    transform: scale(0.45, 0.45);
    display: none;

    @media screen and (min-width: 1366px) {
        transform: scale(0.6, 0.6);
    }
}

.nav-icon:hover,
.nav-icon:focus {
    fill: var(--accent-color);
    stroke: var(--accent-color);
}

.is-open .icon-cross {
    display: block;
}

.is-open .icon-burger {
    display: none;
}

.is-open .nav-icon {
    transform: translate(84%, -16%);

    @media screen and (min-width: 1366px) {
        transform: translate(124%, -24%);
    }

    @media screen and (min-width: 1920px) {
        transform: translate(212%, -24%);
    }
}

.mobile-list {
    font-size: 20px;
    line-height: 1.05;
    text-transform: uppercase;
    color: var(--main-color);

    @media screen and (min-width: 768px) {
        font-size: 32px;
        line-height: 1.03;
    }

    @media screen and (min-width: 1366px) {
        font-size: 36px;
        line-height: 1.03;
    }
}

.mobile-item:not(:last-child) {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1920px) {
        margin-bottom: 48px;
    }
}

.mobile-title {
    font-size: 20px;
    line-height: 1.05;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 26px;

    @media screen and (min-width: 768px) {
        font-size: 32px;
        line-height: 1.03;
        margin-bottom: 21px;
    }

    @media screen and (min-width: 1366px) {
        font-size: 36px;
        line-height: 1.03;
        margin-bottom: 31px;
    }
}

.mobile-contacts__item {
    display: flex;
    flex-direction: column;
}

.mobile-contacts__item:not(:last-child) {
    margin-bottom: 23px;

    @media screen and (min-width: 768px) {
        margin-bottom: 24px;
    }
}

.mobile-contacts {
    font-size: 14px;
    line-height: 1.07;
    color: var(--main-color);
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.06;
        margin-bottom: 11px;
    }

    @media screen and (min-width: 1366px) {
        font-size: 16px;
        line-height: 1.06;
        margin-bottom: 8px;
    }
}

.mobile-description {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: var(--description-color);

    @media screen and (min-width: 768px) {
        font-size: 13px;
        line-height: 1.08;
    }
}

.mobile-social__list {
    display: flex;
    flex-direction: row;
    margin-top: 40px;

    @media screen and (min-width: 768px) and (max-width: 1365.98) {
        margin-top: 30px;
    }
}

.mobile-social__icon:not(:last-child) {
    margin-right: 32px;
}