html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fonts);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.header::before {
    position: absolute;
    display: block;
    content: '';
    width: 325px;
    left: calc((375px - 325px) / 2);
    top: 82px;
    border: 1px solid var(--main-color);

    @media screen and (min-width: 768px) {
        width: 704px;
        left: calc((768px - 704px) / 2);
        top: 111px;
    }

    @media screen and (min-width: 1024px) {
        width: 944px;
        left: calc((1024px - 944px) / 2);
        top: 111px;
    }

    @media screen and (min-width: 1366px) {
        width: 1224px;
        left: calc((1366px - 1224px) / 2);
        top: 111px;
    }

    @media screen and (min-width: 1920px) {
        width: 1696px;
        left: calc((1920px - 1696px) / 2);
        top: 111px;
    }
}