html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fonts);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: var(--main-color);
}

body.light-theme {
    background-color: var(--title-second-color);
    color: var(--dark-theme-color);
}

body.dark-theme {
    background-color: var(--dark-theme-color);
    color: var(--title-second-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.header::before {
    position: absolute;
    display: block;
    content: '';
    width: 325px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 82px;
    border: 1px solid currentColor;

    @media screen and (min-width: 768px) {
        width: 704px;
        top: 111px;
    }

    @media screen and (min-width: 1024px) {
        width: 944px;
    }

    @media screen and (min-width: 1366px) {
        width: 1224px;
    }

    @media screen and (min-width: 1920px) {
        width: 1696px;
    }
}