:root {
    --main-color: #101010;
    --accent-color: #24A9F4;
    --dark-bg-color: #101010;
    --description-color: #BEBEBE;
    --title-second-color: #ffffff;
    --switch-color: #575757;
    --dark-theme-color: #191919;
    --dark-switch-color: #3D3D3D;

    --fonts: 'Syncopate';
}