.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99px;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        justify-content: flex-end;
        height: 127px;
    }

    @media screen and (min-width: 1920px) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 127px;
        margin-bottom: 16px;
    }
}

.info {
    display: inline-flex;
    flex-direction: column;
    
    @media screen and (max-width: 1023.98px) {
        display: none;
    }
    
    @media screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: 38px;
    }
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.06;
    color: var(--main-color);
    margin-bottom: 11px;
}