.hero {
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
        margin-bottom: 71px;
    }

    @media screen and (min-width: 1366px) {
        margin-bottom: 88px;
    }
}

.hero__container {

    @media screen and (min-width: 1024px) {
        display: grid;
        gap: 16px;
        grid-template-columns: 223px auto;
    }

    @media screen and (min-width: 1366px) {
        gap: 24px;
        grid-template-columns: 288px auto;
    }

    @media screen and (min-width: 1920px) {
        gap: 32px;
        grid-template-columns: 400px auto;
    }
}

.hero__text {
    margin-bottom: 16px;

    @media screen and (min-width: 1366px) {
        margin-bottom: 24px;
    }

    @media screen and (min-width: 1920px) {
        margin-bottom: 180px;
    }
}

.description {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.08;
    color: var(--description-color);
}

.text {
    font-family: 'Kyiv Type Sans', sans-serif;
    font-weight: 1;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color);
    text-transform: none;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.57;
    }

    @media screen and (min-width: 1366px) {
        font-size: 16px;
        line-height: 1.5;
    }
}

.hero__img {
    max-width: 328px;
    margin: 0 auto;
    
    @media screen and (min-width: 768px) {
        max-width: 100%;
    }

    @media screen and (min-width: 1024px) and (max-width: 1365.98px) {
        height: 502px;
    }
}